{{!-- assets/javascripts/discourse/components/streamers-player-bar.hbs --}}

{{#if this.canShow}}
  <div class="hb-streamers-header-player" role="region" aria-label="Livestream player">
    <div class="hb-streamers-header-left">
      <span class="hb-streamers-header-name">
        {{or this.stream.name this.stream.username}}
      </span>

      <span class="hb-streamers-header-status">
        {{#if this.streamersPlayer.isLoading}}
          {{i18n "hb_streamers.loading"}}
        {{else if this.streamersPlayer.isPlaying}}
          {{i18n "hb_streamers.playing"}}
        {{else if this.streamersPlayer.isPaused}}
          {{i18n "hb_streamers.paused"}}
        {{else if this.streamersPlayer.errorMessage}}
          {{i18n "hb_streamers.error"}}
        {{/if}}
      </span>
    </div>

    <button
      type="button"
      class="btn btn-icon hb-streamers-header-toggle"
      {{on "click" this.togglePlayPause}}
      title={{i18n this.toggleLabel}}
      aria-label={{i18n this.toggleLabel}}
    >
      {{d-icon this.toggleIcon}}
    </button>
  </div>
{{/if}}
