<div class="hbp-streams-page">
  <h1>{{i18n "streamers.title"}}</h1>

  {{#if this.isLoading}}
    <p>{{i18n "streamers.loading"}}</p>
  {{else if this.error}}
    <p class="hbp-streams-error">
      {{i18n "streamers.error_loading"}}
    </p>
  {{else if this.streams.length}}
    <ul class="hbp-streams-list">
      {{#each this.streams as |stream|}}
        <li class="hbp-streams-item">
          <div class="hbp-streams-main">
            <span class="hbp-streams-username">
              {{stream.username}}
            </span>

            {{#if stream.listeners_count}}
              <span class="hbp-streams-listeners">
                {{i18n "streamers.listeners"
                       count=stream.listeners_count}}
              </span>
            {{/if}}
          </div>

          <div class="hbp-streams-actions">
            <a class="btn btn-primary"
               href={{stream.listen_url}}
               target="_blank"
               rel="noopener">
              {{i18n "streamers.listen"}}
            </a>

            {{#if stream.user_profile_url}}
              <a class="btn"
                 href={{stream.user_profile_url}}>
                {{i18n "streamers.profile"}}
              </a>
            {{/if}}

            {{#if stream.chat_url}}
              <a class="btn"
                 href={{stream.chat_url}}>
                {{i18n "streamers.chat"}}
              </a>
            {{/if}}
          </div>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <p class="hbp-streams-empty">
      {{i18n "streamers.no_streams"}}
    </p>
  {{/if}}
</div>
