<section class="hbp-streamers">
  <h1 class="streamers-title">
    {{i18n "streamers.title"}}
  </h1>

  {{#if model.live_streams}}
    <ul class="streamers-list">
      {{#each model.live_streams as |stream|}}
        <li class="streamer-card">
          <div class="streamer-avatar-wrapper">
            {{avatar stream imageSize="large" usernamePath="username"}}
            <span class="streamer-live-badge">LIVE</span>
          </div>

          <div class="streamer-main">
            <div class="streamer-header">
              {{#link-to "user" stream.username class="streamer-name"}}
                {{stream.name}}
              {{/link-to}}
              <span class="streamer-username">@{{stream.username}}</span>
            </div>

            {{!-- Titel van het nummer is optioneel, maar vaak wel leuk --}}
            {{#if stream.title}}
              <div class="streamer-track">
                {{stream.title}}
              </div>
            {{/if}}

            <div class="streamer-meta">
              <span class="streamer-meta-item">
                {{i18n "streamers.listeners" count=stream.listeners}}
              </span>
              <span class="streamer-dot">•</span>
              <span class="streamer-meta-item">
                {{stream.bitrate}} kbps
              </span>
            </div>
          </div>
        </li>
      {{/each}}
    </ul>

    <p class="streamers-updated">
      {{i18n "streamers.last_updated" time=model.updated_at}}
    </p>
  {{else}}
    <p class="streamers-empty">
      {{i18n "streamers.no_streams"}}
    </p>
  {{/if}}
</section>
