<div class="streamers-page">
  <h1>{{i18n "streamers.title"}}</h1>

  {{#if this.model.error}}
    <p class="streamers-error">
      {{i18n "streamers.error_loading"}}
    </p>
  {{/if}}

  {{#if this.model.live_streams}}
    <ul class="streamers-list">
      {{#each this.model.live_streams as |stream|}}
        <li class="streamers-item">
          <div class="streamers-main">
            <span class="streamers-name">
              {{stream.display_name}}
            </span>

            <span class="streamers-listeners">
              {{i18n "streamers.listeners" count=stream.listeners}}
            </span>
          </div>

          <div class="streamers-meta">
            {{#if stream.topic_url}}
              <a
                class="streamers-link streamers-link--chat"
                href={{stream.topic_url}}
              >
                {{i18n "streamers.chat"}}
              </a>
            {{/if}}

            {{#if stream.profile_url}}
              <a
                class="streamers-link streamers-link--profile"
                href={{stream.profile_url}}
              >
                {{i18n "streamers.profile"}}
              </a>
            {{/if}}

            {{#if stream.stream_url}}
              <a
                class="streamers-link streamers-link--listen"
                href={{stream.stream_url}}
                target="_blank"
                rel="noopener noreferrer"
              >
                {{i18n "streamers.listen"}}
              </a>
            {{/if}}
          </div>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <p class="streamers-empty">
      {{i18n "streamers.no_streams"}}
    </p>
  {{/if}}

  {{#if this.model.updated_at}}
    <p class="streamers-updated">
      {{i18n
        "streamers.last_updated"
        time=(format-date this.model.updated_at format="tiny")
      }}
    </p>
  {{/if}}
</div>
