<div class="hbp-streamers-page">
  <h1 class="hbp-streamers-title">
    {{i18n "streamers.title"}}
  </h1>

  {{#if model.live_streams}}
    <section class="hbp-streamers-grid">
      {{#each model.live_streams as |stream|}}
        <article class="hbp-streamer-card">
          <div class="hbp-streamer-avatar">
            {{avatar stream imageSize="huge"}}
          </div>

          <div class="hbp-streamer-content">
            <header class="hbp-streamer-header">
              <div class="hbp-streamer-name-row">
                {{#link-to "user" stream.username class="hbp-streamer-name-link"}}
                  <span class="hbp-streamer-name">{{stream.name}}</span>
                {{/link-to}}
              </div>

              <span class="hbp-streamer-live-pill">
                LIVE
              </span>
            </header>

            <div class="hbp-streamer-meta">
              <span class="hbp-streamer-meta-item">
                {{i18n "streamers.listeners" count=stream.listeners}}
              </span>

              <span class="hbp-streamer-dot">•</span>

              <span class="hbp-streamer-meta-item">
                {{stream.bitrate}} kbps
              </span>
            </div>
          </div>
        </article>
      {{/each}}
    </section>
  {{else}}
    <p class="hbp-streamers-empty">
      {{i18n "streamers.no_streams"}}
    </p>
  {{/if}}

  {{#if model.updated_at}}
    <p class="hbp-streamers-updated">
      {{i18n "streamers.last_updated" time=model.updated_at}}
    </p>
  {{/if}}
</div>
