<div class="streamers-page">
  <h1 class="streamers-title">
    {{i18n "streamers.title"}}
  </h1>

  {{#if this.model.live_streams.length}}
    <div class="streamers-list">
      {{#each this.model.live_streams as |stream|}}
        <div class="streamer-card">
          <div class="streamer-avatar">
            {{avatar stream username=stream.username size="large"}}
          </div>

          <div class="streamer-info">
            <div class="streamer-header">
              <a
                class="streamer-name"
                href={{user-path stream.username}}
              >
                {{stream.name}}
              </a>
              <span class="streamer-live-pill">
                LIVE
              </span>
            </div>

            <div class="streamer-meta">
              {{i18n "streamers.listeners" count=stream.listeners}}
              •
              {{stream.bitrate}} kbps
            </div>

            {{!-- AUDIO PLAYER --}}
            {{#if stream.listen_url}}
              <audio
                class="streamer-audio"
                controls
                preload="none"
                src={{stream.listen_url}}
              >
                {{i18n "streamers.listen"}}
              </audio>
            {{/if}}
          </div>
        </div>
      {{/each}}
    </div>
  {{else}}
    <p class="streamers-empty">
      {{i18n "streamers.no_streams"}}
    </p>
  {{/if}}

  {{#if this.model.updated_at}}
    <div class="streamers-updated">
      {{i18n "streamers.last_updated" time=this.model.updated_at}}
    </div>
  {{/if}}
</div>
