<div class="hbp-streamers-page">
  <h1 class="hbp-streamers-title">
    {{i18n "streamers.title"}}
  </h1>

  {{#if model.live_streams}}
    <div class="hbp-streamers-grid">
      {{#each model.live_streams as |stream|}}
        <article class="hbp-streamer-card">
          <div class="hbp-streamer-card__header">
            <div class="hbp-streamer-card__avatar">
              {{avatar stream imageSize="huge"}}
            </div>

            <div class="hbp-streamer-card__identity">
              <a
                href={{concat "/u/" stream.username}}
                class="hbp-streamer-card__name"
              >
                {{or stream.name stream.username}}
              </a>

              {{!-- Optionele user title zoals "Admin" als we die later in de JSON stoppen --}}
              {{#if stream.user_title}}
                <div class="hbp-streamer-card__title">
                  {{stream.user_title}}
                </div>
              {{/if}}
            </div>
          </div>

          <div class="hbp-streamer-card__meta">
            <span>
              {{i18n "streamers.listeners" count=stream.listeners}}
            </span>

            {{#if stream.bitrate}}
              <span>• {{stream.bitrate}} kbps</span>
            {{/if}}
          </div>
        </article>
      {{/each}}
    </div>
  {{else}}
    <p class="hbp-streamers-empty">
      {{i18n "streamers.no_streams"}}
    </p>
  {{/if}}

  {{#if model.updated_at}}
    <p class="hbp-streamers-updated">
      {{i18n "streamers.last_updated" time=model.updated_at}}
    </p>
  {{/if}}
</div>
