<div class="hbp-streamers-page">
  <h1 class="hbp-streamers-title">
    {{i18n "streamers.title"}}
  </h1>

  {{#if this.model.live_streams}}
    <ul class="hbp-streamers-list">
      {{#each this.model.live_streams as |stream|}}
        <li class="hbp-streamers-item">
          <div class="hbp-streamers-avatar">
            {{avatar stream
              usernamePath="username"
              namePath="name"
              imageSize="large"
            }}
          </div>

          <div class="hbp-streamers-info">
            <div class="hbp-streamers-header">
              <a class="hbp-streamers-name" href={{concat "/u/" stream.username}}>
                {{stream.name}}
              </a>
              <span class="hbp-streamers-username">@{{stream.username}}</span>
            </div>

            {{#if stream.title}}
              <div class="hbp-streamers-track">
                {{stream.title}}
              </div>
            {{/if}}

            <div class="hbp-streamers-meta">
              <span class="hbp-streamers-listeners">
                {{i18n "streamers.listeners" count=stream.listeners}}
              </span>

              {{#if stream.bitrate}}
                <span class="hbp-streamers-separator">•</span>
                <span class="hbp-streamers-bitrate">
                  {{stream.bitrate}} kbps
                </span>
              {{/if}}

              {{#if stream.mount}}
                <span class="hbp-streamers-separator">•</span>
                <span class="hbp-streamers-mount">
                  {{stream.mount}}
                </span>
              {{/if}}
            </div>
          </div>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <p class="hbp-streamers-empty">
      {{i18n "streamers.no_streams"}}
    </p>
  {{/if}}

  {{#if this.model.updated_at}}
    <p class="hbp-streamers-updated">
      {{i18n "streamers.last_updated" time=this.model.updated_at}}
    </p>
  {{/if}}
</div>
